<p>
  Access: <br>
  Username: ruben<br>
  Password: ruben
</p>

<form {{action 'authenticate' on='submit'}}>

  {{#if errorMessage}}
      <div class="alert alert-danger" role="alert">
          Username or password wrong!
      </div>
  {{/if}}

  <div class="form-group">
    <label for="username">Username</label>
    {{input id='username' placeholder='Username' class='form-control' value=identification}}
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    {{input id='password' placeholder='Password' type='password' class='form-control' value=password}}
  </div>

  <button type="submit" class="btn btn-default">Login</button>

</form>
